@model BookStore.Models.authors

@{
    ViewBag.Title = "Επεξεργασία Στοιχείων Συγγραφέα";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.au_id)

        <div class="container pt-5">
            <p>@ViewBag.ErrorMessage</p>
            <div class="row justify-content-center" style="position:sticky; top:auto">
                <a style="padding-right:6px;" href="@Url.Action("/Index")" ; title="Επιστορφή"><img style=" width:24px;  height:24px;" src="/assets/img/return.svg" /></a>

                <h3>Επεξεργασία</h3>

            </div>

            <div class="container d-lg-flex text-white" style="background-color: #002b54; font-size:18px;">
                <div class="p-2 m-2">
                    <div class="form-group">
                        <label> @Html.LabelFor(model => model.au_lname)</label>
                        @Html.EditorFor(model => model.au_lname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.au_lname, "", new { @class = "text-danger" })
                    </div>


                </div>
                <div class="p-2 m-2">
                    <div class="form-group">
                        <label> @Html.LabelFor(model => model.au_fname)</label>
                        @Html.EditorFor(model => model.au_fname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.au_fname, "", new { @class = "text-danger" })
                    </div>


                </div>
                <div class="p-2 m-2">
                    <div class="form-group">
                        <label> @Html.LabelFor(model => model.phone)</label>
                        @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                    </div>


                </div>
                <div class="p-2 m-2">
                    <div class="form-group">
                        <label> @Html.LabelFor(model => model.address)</label>
                        @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="container d-lg-flex text-white" style="background-color: #002b54;  font-size:18px">
                <div class="p-2 m-2">
                    <div class="form-group">
                        <label>@Html.LabelFor(model => model.city)</label>
                        @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="p-2 m-2">
                    <div class="form-group">
                        <label>@Html.LabelFor(model => model.state)</label>
                        @Html.EditorFor(model => model.state, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="p-2 m-2">
                    <div class="form-group">
                        <label>@Html.LabelFor(model => model.zip)</label>
                        @Html.EditorFor(model => model.zip, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.zip, "", new { @class = "text-danger" })
                    </div>


                </div>
                <div class="p-2 m-2">
                    <div class="form-group">
                        <label>@Html.LabelFor(model => model.contract)</label>
                        <div class="checkbox">
                            @Html.EditorFor(model => model.contract)
                            @Html.ValidationMessageFor(model => model.contract, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>
            </div>

            <div class="container d-lg-flex  justify-content-end">
                <div class="p-2 m-2">
                    <button id="return" class="btn btn-outline-warning  ladda-button" type="button" ladda="loading " onclick=" location.href='@Url.Action("Index")'">
                        <span class="ladda-label">
                            <span>ΕΠΙΣΤΡOΦΗ</span>
                        </span>
                    </button>
                    <input type="submit" value="ΑΠΟΘΗΚΕΥΣΗ" class="btn btn-primary ladda-button" style="color:black" />
                </div>
            </div>
        </div>

}
